* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Lobster;
  transition: all 0.2s ease-in-out;
}



body {
  background: #008888;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.card {
  background: #fdfdfd;
  border-radius: 4px;
  height: 85vh;
  width: 80vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
}

button {
  position: relative;
  left: 0;
  transition: all 2s ease;
}

button:hover {
  left: 1rem;
}

@media only screen and (min-width: 1000px) {
  .card {
    flex-direction: row-reverse;
  }

  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

@media only screen and (max-height: 640px) {
  .card {

    height: 100%;
  }

  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
  .text button {
   
    padding: 1rem 2.5rem;
}
}
@media (max-width:320px){
  .text button {
   
    padding: 1rem 2.5rem !important;
}
}


img.birthday {
  max-height: 40vh;
}

.text {
  padding: 1em;
}

.text p {
  font-size: 1.3rem;

}

.text button {
  background-color: rgba(86, 235, 78, 0.733);
  border: none;
  padding: 1rem 4rem;
  border-radius: 2rem;
}

.text .button {
  text-decoration: none;
  font-size: 1.3rem;

}

.muted {
  opacity: 0.8;
}

.space {
  height: 100px;
}